* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1em 0.5em 1em 0.5em;
}

h2 {
    padding: 0.5em 0.5em 0.5em 0;
}
[class*="flex-container"]{
    border: 2px solid blue;
    width: 400px;
    padding: 1em;
    display: flex;
}

.flex-container-direction-row {
    flex-direction: row;
}

.flex-container-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-container-direction-column {
    flex-direction: column;
}

.flex-container-direction-column-reverse {
    flex-direction: column-reverse;
}

.flex-item {
    border: 2px solid black;
    padding: 20px;
    background-color: #eee;
}