* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1em 0.5em 1em 0.5em;
}

h2 {
    padding: 0.5em 0.5em 0.5em 0;
}

[class*="flex-grow"]{
    border: 2px solid blue;
    max-width: 400px;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.flex-grow-default .flex-item{
    flex-grow: 0;
}

.flex-grow-one {
    flex-grow: 1;
}

.flex-grow-secondchild .flex-item:nth-of-type(2) {
    flex-grow: 1;
}


.flex-grow-proportionally .flex-item:nth-of-type(1) {
    flex-grow: 1;
}
.flex-grow-proportionally .flex-item:nth-of-type(2) {
    flex-grow: 2;
}
.flex-grow-proportionally .flex-item:nth-of-type(3) {
    flex-grow: 3;
}

.flex-item {
    border: 2px solid black;
    padding: 1em;
    background-color: #eee;
}