* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 231, 231);
}

.container {
    background-color: white;
    padding: 1em;
    margin: 2em;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container p, .content p {
    border: 2px solid rgb(202, 202, 202);
    padding: 1em;
    border-radius: 0.3em;
}

@media (orientation: landscape) {
    .content {
        display: flex;
        gap: 1em;
    }
    
    .content main {
        flex: 1 1 70%;
    }
    
    .content aside {
        flex: 1 1 30%;
    }
}

@media (orientation: portrait) {
    .content {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}