* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif;
}

.site {
    background: #fff;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    padding: 2em;
}

.site > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.site > header h1 a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding-left: 1rem;
}

.main-nav li {
    display: block;
    list-style: none outside;
    position: relative;
}

.main-nav a {
    display: block;
    text-decoration: none;
    color: #333;
    background: #eee;
    padding: 1em 1.5em;
}

#nav-toggle {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

@media (hover:none) {

    label[for="nav-toggle"] {
        display: block;
        position: absolute;
        z-index: 1000;
        right: 0;
        top: 0;
        background: #EEE;
        padding: 1em 1.5em;
    }

    .main-nav,
    label[for="nav-toggle"] .close {
        display: none;
    }

    #nav-toggle:checked ~ .site label[for="nav-toggle"] .close {
        display: block;
    }

    #nav-toggle:checked ~ .site label[for="nav-toggle"] .open {
        display: none;
    }

    #nav-toggle:checked ~ .site .main-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        inset: 0;
        background: #fff;
    }

    #nav-toggle:checked ~ .site .main-nav ul {
        padding-left: 2em;
    }

    #nav-toggle:checked ~ .site .main-nav a {
        border-bottom: 2px solid #fff;
    }
}

@media (hover:hover) {
  
    label[for="nav-toggle"] {
        display: none;
    }

    .main-nav > ul {
        display: flex;
        gap: 1em
    }
    
    .main-nav > ul > li > a {
        border-radius: 0.3em;
    }
    
    .main-nav ul ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 10rem;
    }
    
    .main-nav ul ul ul {
        top: 0;
        left: 100%;
    }
    

    
    .main-nav li:hover > a,
    .main-nav a:hover {
        background: darkorange;
        color: #fff;
    }
    
    .main-nav li:hover > ul {
        display: block;
        box-shadow: 0 0 1em 0.1em rgb(0, 0, 0, 0.1);
    }

}