* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: #EEE;
    font: 16px/1.5 "Lato", "Lucida Grande", sans-serif;
    padding: 2em;
}

.container {
    max-width: 50em;
    margin: auto;
}

.sections {
    display: flex;
    /*   flex-direction: column; */
    flex-wrap: wrap;
    gap: 1em;
}

.sections::after,
.sections li {
    flex: 1 1 300px;
    display: block;
    padding: 1.5em 2em;
    background: #FFF;
    border-radius: 0.5em;
    counter-increment: section;
    position: relative;
    padding-right: 3em;
    overflow: hidden;
    box-shadow: -0.2em 0.2em 0 0 rgba(0,0,0,0.05);
}

.sections::after {
    content: '';
    display: block;
    background: transparent;
    box-shadow: none;
}

.sections li:before,
.sections li:after {
    content: '';
    display: flex;
    width: 4rem;
    height: 3em;
    position: absolute;
    top: 0; right: 0;
    border-bottom-left-radius: 0.5em;
    box-shadow: -0.2em 0.2em 0 0 rgba(0,0,0,0.05);
}

.sections li:before {
    content: "0" counter(section);
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-weight: bold;
    z-index: 5;
}

.sections li:after {
    background: orange;
    z-index: 1;
    /*   transform: rotate(-35deg) scale(1); */
}

.sections li span {
    display: block;
}

.sections li .title {
    font-size: 1.2em;
    font-weight: bold;
}

.sections li .desc {
    font-size: 0.9em;
}

.sections li:nth-child(even):after {
    /*   background: #090; */
}