section{
    border: 2px solid black;
    padding: 1em 2em 1em 2em;
    margin-bottom: 2em;
}

section p{
    border: 1px solid #ccc;
    padding: 1em;
}

section.block p{
    display: block;
}

section.inline p{
    display: inline;
}

section.inline-block p{
    display: inline-block;
}