@media all {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        padding: 2em;
        font: 14px/1.5 sans-serif;
    }    
    
    p {
        padding-bottom: 1.5em;
    }
}

@media screen {
    body::before {
        display: block;
        content: 'The page is being shown on a screen';
        padding: 1em;
        margin-bottom: 1em;
        background-color: #369;
        color: white;
        border-radius: 0.3em;
    }
}

@media print {
    body::before {
        display: block;
        content: 'The page is using a print preview or it was printed';
    }
}