* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body, input, select, button {
    font: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background: #eee;
}

h2 {
    margin-bottom: 1em;
}

h2:not(:first-child) {
    margin-top: 2em;
}

form {
    width: 60ch;
    background: #fff;
    border-radius: 0.3em;
    padding: 2em 2.5em;
    box-shadow: 0 0 0.5em 0 rgb(0,0,0,0.1);
}

.field {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-bottom: 1.5em;
}

input {
    display: block;
}

input[type=radio],
input[type=checkbox] {
    cursor: pointer;
    width: 2em;
    height: 2em;
    position: relative;
    border-radius: 30px;
}

input[type=checkbox]:after,
input[type=radio]:after {
    transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
}

input[type=checkbox]:before,
input[type=radio]:before {
    transition: all 0.25s ease-in-out;
}

input[type=radio]:before,
input[type=radio]:after,
input[type=checkbox]:before,
input[type=checkbox]:after {
    content: "";
    position: absolute;
}

input[type=radio]:before,
input[type=checkbox]:before {
    height: 100%;
}

input[type=radio]:before,
input[type=checkbox]:before {
    width: 100%;
    border-radius: 30px;
    background-color: #EEE;
    box-shadow: 0 0 0 1px #CCC;
}

input[type=radio]:after,
input[type=checkbox]:after {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: #c67615;
    transform: scale(0, 0);
}

input[type=radio]:checked:after,
input[type=checkbox]:checked:after {
    transform: scale(0.75, 0.75);
}

input[type=radio]:checked:before,
input[type=checkbox]:checked:before {
    background-color: orange;
    box-shadow: 0 0 0 1px orange;
}

input[type=checkbox] {
    margin: 0 1em;
}

input[type=checkbox]:before,
input[type=checkbox]:before {
    width: 200%;
    background-color: #EEE;
    box-shadow: 0 0 0 1px #CCC;
    transform: translate(-25%, 0);
    border-radius: 1.5em;
}

input[type=checkbox]:after {
    width: 80%;
    height: 80%;
    margin-top: 10%;
    margin-left: 10%;
    background-color: #c67615;
    border-radius: 30px;
    transform: translate(60%, 0);
}

input[type=checkbox]:checked:after {
    transform: translate(-60%, 0);
}

input[type=checkbox]:checked:before {
    background-color: orange;
    box-shadow: 0 0 0 1px darkorange;
}
