
section p {
    color: darkslategray;
}

.main-list > li {
    font-weight: bold;
}

article.highlight + article {
    background-color: lightcoral;
}

h2.trigger ~ p {
    color: royalblue;
}

li.special + li a {
    color: green;
}