* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 230);
    padding: 2em;
    font: 14px/1.5 sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    background-color: white;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    border-radius: 0.3em;
}

.calendar{
    display: flex;
}

.calendar div {
    border: 1px solid #ccc;
    padding: 1em;
    flex-grow: 1;
    text-align: center;
}

.calendar .week {
    display: flex;
    flex-wrap: wrap;
}

.calendar .week div:nth-child(1),
.calendar .week div:nth-child(7) {
    flex: 0 0 100%;
}

.calendar .notes {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}