* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px/1.5 sans-serif;
}

.site {
    border: 2px solid green;
    padding: 2em;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 2em;
}

.site > * {
    border: 2px solid blue;
    padding: 2em;
}

.site > main {
    flex-grow: 1;
}