body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, main, aside, footer {
    padding: 20px;
}

header {
    background-color: #f4f4f4;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

aside {
    background-color: #e9e9e9;
}

footer {
    background-color: #f4f4f4;
}
